html {
  background-color: grey;
  font-family: 'Aldrich', sans-serif;
}

body {
  max-width: 1000px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}

header {
  /*background-color: rgba(0, 255, 0, 0.2);*/
}

.logo {
  max-width: 300px;
  max-height: auto;
  margin-left: 30%;
  margin-right: 30%;
}

nav, ul, a {
  text-align: center;
  padding-left: 0;
  text-decoration: none;
  color: black;
  /*background-color: rgba(255, 0, 0, 0.2);*/
}

a {
  border-bottom: 0px solid transparent;
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  height: auto;
}

a:hover {
  transition: 0.5s ease;
  border-bottom: 1px solid black;
}

.container {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

.image-carousel {

  height: 500px;
  width: 1000px;

}

#slideshow {
  /*display: inline-block;*/
  position: relative;
  max-height: 500px;
  max-width: 1000px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    max-height: 500px;
    max-width: 1000px;
    margin: 0 12%;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

.recent-work {
  margin: 20px 0;
  height: 200px;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid green;*/
  /*background-color: rgba(0, 255, 255, 0.2);*/
}

.recent-box {
  width: 300px;
  /*border: 1px solid blue;*/
  color: white;
  position: relative;
}

div .recent-box a {
  color: white;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 2px;
}

.recent-box#event1 {
  background-image: url('https://scontent.fads1-1.fna.fbcdn.net/v/t31.0-8/21743791_10210174525549373_5194217036593096213_o.jpg?oh=9aaa04956c69706652e6e6fb532225cc&oe=5A7E9883');
  background-size: cover;
}

.recent-box#event2 {
  background-image: url('https://scontent.fads1-1.fna.fbcdn.net/v/t1.0-9/15697487_10208050728255768_2738118978997847066_n.jpg?oh=bcf3d9ea494221fb90e0d2325a713896&oe=5A817CAF');
  background-size: cover;
}

.recent-box#event3 {
  background-image: url('https://scontent.fads1-1.fna.fbcdn.net/v/t1.0-9/18274884_10209105228817623_1307795171351621605_n.jpg?oh=e020ae3665da23c12b7d9b4895de1806&oe=5A79995B');
  background-size: cover;
}

.about-content {
  display: inline-block;
  margin-left: 5px;
  max-width: 300px;
  text-align: left;
}


#icon {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
}

.contact {
  background-color: rgba(255, 255, 0, 0.5);
  margin-bottom: 10px;
}

footer {
  position: relative;
  bottom: 0;
  background-color: black;
}

#social {
  max-width: 50px;
  max-height: 50px;
  filter: invert(100%);
}
