html {
  background-color: grey;
  font-family: 'Aldrich', sans-serif;
}

body {
  max-width: 1000px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}

header {
  /*background-color: rgba(0, 255, 0, 0.2);*/
}

.logo {
  max-width: 300px;
  max-height: auto;
  margin-left: 30%;
  margin-right: 30%;
}

nav, ul, a {
  text-align: center;
  padding-left: 0;
  text-decoration: none;
  color: black;
  /*background-color: rgba(255, 0, 0, 0.2);*/
}

a {
  border-bottom: 0px solid transparent;
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  height: auto;
}

a:hover {
  transition: 0.5s ease;
  border-bottom: 1px solid black;
}

.image-carousel {
  height: 500px;
  width: 1000px;
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

h3 .image-carousel {
  display: table-cell;
  vertical-align: middle;
}

.recent-work {
  margin: 20px 0;
  height: 200px;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid green;*/
  /*background-color: rgba(0, 255, 255, 0.2);*/
}

.recent-box {
  width: 300px;
  /*border: 1px solid blue;*/
  color: white;
  position: relative;
}

div .recent-box a {
  color: white;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 2px;
}

.recent-box#event1 {
  background-image: url('https://static.pexels.com/photos/154147/pexels-photo-154147.jpeg');
  background-size: cover;
}

.recent-box#event2 {
  background-image: url('https://static.pexels.com/photos/266429/pexels-photo-266429.jpeg');
  background-size: cover;
}

.recent-box#event3 {
  background-image: url('https://static.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg');
  background-size: cover;
}

.about-content {
  display: inline-block;
  margin-left: 5px;
  max-width: 300px;
  text-align: left;
}


#icon {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
}

.contact {
  background-color: rgba(255, 255, 0, 0.5);
  margin-bottom: 10px;
}

footer {
  position: relative;
  bottom: 0;
  background-color: black;
}

#social {
  max-width: 50px;
  max-height: 50px;
  filter: invert(100%);
}
